/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

.row_danger {
    color: black;
    background-color: lightcoral !important;
}

.row_expired {
    color: white;
    background-color: red !important;
}

.row_warning {
    color: black;
    background-color: #FBFB9F !important;
}

.row_success {
    color: black;
    background-color: lightgreen !important;
}
