@{
    ViewBag.Title = "Ошибка 404 / Error 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .error-template {
        padding: 40px 15px;
        text-align: center;
    }

    .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .error-actions .btn {
            margin-right: 10px;
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="error-template">
                <h2 class="text-danger">Page Not Found</h2>
                <h2>
                    404 Страница не найдена / 404 Not Found
                </h2>
                <div>
                    Запрошенная страница не найдена / Requested page not found
                </div>
                <div class="error-actions">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i> Главная / Home </a>
                    <a href="mailto:a.loginov@titan2.ru?subject=SurveySystemError404" class="btn btn-secondary btn-lg"><i class="fa fa-envelope" aria-hidden="true"></i> Уведомить / Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>