@{
    ViewBag.Title = "Главная / Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background: lightblue !important">
    <h1 class="display-4">Survey System</h1>
    <p class="lead col-12"> система анкетирования АО «КОНЦЕРН ТИТАН-2» <br />survey system of JSC «Concern TITAN-2» </p>
    <hr class="my-4">
</div>