@{
    ViewBag.Title = "Типы уведомлений / Notification types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/Scripts/app/notificationtype/notificationtype.grid.js")
}
<div class="row m-b-5">
    <div class="col-12 col-sm-2">
        <a href="@Url.Action("Index", "Directory")" class="btn btn-link btn-sm"><i class="fa fa-backward" aria-hidden="true"></i> Назад / Backward</a>
    </div>
</div>
<div class="row" style="padding: 15px 5px 5px 5px;">
    <div class="col-12">
        <label class="font-weight-bold" for="gridNotifyTypes">Типы уведомлений / Notification types</label>
        <div id="gridNotifyTypes"></div>
    </div>
</div>